@font-face {
    font-family: '8-bit';
    src: url(../fonts/8bitOperatorPlus-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: '8-bit';
    src: url(../fonts/8bitOperatorPlus-Bold.ttf);
    font-weight: bold;
}

#location {
    background-image: url('/img/map.png');
    background-size: cover;
    background-position: center center;

    &-overlay {
        background: #343a40bb;
    }
}

.travel-icon {
    font-size: 3rem;
    margin: 16px;
}

.pointer {
    cursor: pointer;
}

.image {
    background-position: center center;
    background-size: cover;
}

a:hover {
    text-decoration: none;
}

.card {
    border: none;
}

.navbar,
.card {
    border-bottom: 1px solid #282828;
    box-shadow: #00000008 0 8px;
}
