@font-face {
    font-family: '8-bit';
    src: url(../fonts/8bitOperatorPlus-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: '8-bit';
    src: url(../fonts/8bitOperatorPlus-Bold.ttf);
    font-weight: bold;
}
